<header class="section">
    <div class="container">
      <h1 id="welcome" class="is-size-1 title has-text-centered mt-6">Algorithms</h1>
      <p id="intro" class="subtitle has-text-centered mt-smol">
        Back-end | Front-end | <span class="underlined has-text-weight-bold">Developer</span>
      </p>
      <p id="skill-icons" class="mtop-neg-1 has-text-centered subtitle  has-text-grey"><i class="far fa-gem"></i> <i class="fab fa-js-square"></i></p>
    </div>
  </header>
  <main class="section">
    <div class="container">
        
    </div>
  </main>
