  <section class="section">
    <div class="container">
      <h1 id="welcome" class="is-size-1 title has-text-centered mt-6"></h1>
      <p id="intro" class="subtitle has-text-centered is-invisible">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>

  <script>
    var i = 0;
    var txt = "Hi, I'm Will.";
    var speed = 120;
    var welcome = document.getElementById("welcome");
    var intro = document.getElementById("intro");

     function typeWriter() {
      if (i < txt.length) {
        welcome.textContent += txt.charAt(
          i
        );
        i++;
        setTimeout(typeWriter, speed);
      }
      if (txt.length == welcome.textContent.length){
        intro.classList.add("fade-in");
        intro.classList.remove("is-invisible");
      }
    }

    typeWriter();
  </script>