  <% if notice %>
    <div id="notice" class="notification is-link is-light"><%= notice %></div>
  <% end %>

  <header class="section">
    <div class="container">
      <h1 id="welcome" class="is-size-1 title has-text-centered mt-6"></h1>
      <p id="intro" class="subtitle has-text-centered is-invisible mt-smol">
        Back-end | Front-end | <span class="underlined has-text-weight-bold">Developer</span>
      </p>
      <p id="skill-icons" class="mtop-neg-1 has-text-centered subtitle is-invisible has-text-grey"><i class="far fa-gem"></i> <i class="fab fa-js-square"></i> <i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-git-alt"></i></p>
    </div>
  </header>

  <main class="section">
    <div class="container">
      <h3 id="main" class="is-size-2 is-size-3-mobile is-invisible">
        I work on <a href="/projects" class="underlined link has-text-weight-semibold">projects</a> that have real world application. Get to know more <a href="/about" class="underlined link has-text-weight-semibold">about</a> my process or jump straight to getting in <a href="mailto:wpankdev@gmail.com?subject=Contact Request from wpank.dev" class="underlined link has-text-weight-semibold">contact</a> with me. 
      </h3>
    </div>
  </main>

  <%= javascript_pack_tag 'home' %>