  <header class="section fade-in">
    <div class="container">
      <h1 class="is-size-1 title has-text-centered mt-6">About Me</h1>
    </div>
  </header>

  <main class="section fade-in">
    <div class="container">
      <h3 class="is-size-2">
        When starting a new project, the first thought is to define the <span class="has-text-weight-bold">purpose</span> of the project. 
      </h3>
    </div>
    <div class="container mt-4">
      <h3 class="is-size-2">
        A <span class="has-text-weight-bold">functional</span> project should serve its purpose by providing utility to those who would use it.
      </h3>
    </div>
    <div class="container mt-4">
      <h3 class="is-size-2">
        Let's talk. Go ahead and <a href="mailto:wpankdev@gmail.com?subject=Contact Request from wpank.dev" class="underlined link has-text-weight-semibold">contact</a> me to learn more or schedule a meeting.
      </h3>
    </div>
  </main>